.container {
  margin: 1rem 0;
}
.mainZone {
  background-color: var(--app-bg-primary);
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.zoneContainer {
  display: flex;
}
.zoneContainer > div {
  width: 30%;
}
